@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-size: 16px;
  --background: #ffffff;
  --primary-text-color: #2a2a2a;
  --beginner-card-color: #9affbb;
  --intermediate-card-color: #ffff9a;
  --advanced-card-color: #ffaaaa;
  --roadmap-card-color: #000036;
  --yellow-btn-color: #ffcc00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  color: var(--primary-text-color);
  background: var(--background);
  font-family: "Space Mono", monospace;
}

/* check for different browser css */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* better scrollbar */
/* width */
::-webkit-scrollbar {
  border-radius: 5px;
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  /* background: #f1f1f1; */
  background: hsl(var(--background));
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: #777;
}

/* Custom checkbox */
input[type="checkbox"]  {
    position: relative;
    appearance: none;
}
input[type="checkbox"]:after{
    left: 0;
    top: 0;
    content: '';
    box-sizing: border-box;
    border: 2.5px solid black;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked::after{
    background-image: url('/assets/tick.svg'); 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: 1px solid black;
}

